* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Poppins', sans-serif;
	background: url(https://www.burchcom.com/wp-content/uploads/2019/01/images1997-5c2f99436aa28-1024x683.jpg);
}
.wrapper {
	width: 1170px;
	margin: auto;
}
header {
	background: url(https://www.burchcom.com/wp-content/uploads/2019/01/images1997-5c2f99436aa28-1024x683.jpg);
	height: 100vh;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}
footer {
  height: 100vh;
  position: relative;
}
/*footer 2 {
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://www.strikingly.com/content/static/263c73fa7e5bffb7b025f646619b0006/717ac/2019-09-25-uncluttered-website-background.png);
  height: 100vh;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  position: relative;
}*/
.formfield * {
    vertical-align: bottom;
	}
	.nav-area {
		float: right;
		list-style: none;
		margin-top: 30px;
	}
	.nav-area li {
		display: inline-block;
	}
h2 {
	color: #fff;
}
	.nav-area li a {
		color: #fff;
		text-decoration: none;
		padding: 5px 20px;
		font-family: poppins;
		font-size: 15px;
		text-transform: uppercase;
	}
	.nav-area li a:hover {
		background: #fff;
		color: #333;
	}
}
.logo {
	float: left;
}
.img {
	position: absolute;
	top: 200px;
	width: 300;
}
	img:hover {
	    webkit-filter: blur(4px); /* Chrome, Safari, Opera */
	    filter: blur(4px);
}
img {
  border: 2px solid #333;
}
.logo img {
	width: 100%;
	padding: 15px 0;
}
.welcome-text {
	position: absolute;
	top: 10px;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.grupa-text {
  position: absolute;
  width: 600;
  height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.grupa-text h2 {
  text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 40px;
}
.grupa-text h2 span {
  color: #00fecb
}
.grupa-text a {
  border: 1px solid #fff;
	padding: 10px 50px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 0px;
	display: inline-block;
	color: #fff;
}
.grupa-text a:hover {
  background: #fff;
  color: #333;
}
.welcome-text h1 {
	position: absolute;
	bottom: 540px;
	right: 500px;
	width: 800px;
	text-align: center;
	color: #333;
	text-transform: uppercase;
	font-size: 40px;
}
.welcome-text h1 span {
	color: #00fecb;
}
.welcome-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.welcome-text a:hover {
	background: #fff;
	color: #333;
}
/*resposive*/

@media (max-width:600px) {
	.wrapper {
		width: 100%;
	}
	.logo {
		float: none;
		width: 50%;
		text-align: center;
		margin: auto;
	}
	img {
		width: ;
	}
	.nav-area {
		float: none;
		margin-top: 0;
	}
	.nav-area li a {
		padding: 5px;
		font-size: 11px;
	}
	.nav-area {
		text-align: center;
	}
	.welcome-text {
		width: 100%;
		height: auto;
		margin: 30% 0;
	}
	.welcome-text h1 {
		font-size: 30px;
	}
  .grupa-text {
    width: 100%;
		height: auto;
		margin: 30% 0;
	}
  .grupa-text h2 {
    font-size: 30px;
  }
}

